In [1]:
import requests
import pandas as pd
import json
import datetime

In [14]:
bitcoin_price_url = 'https://api.polygon.io/v2/aggs/ticker/X:BTCUSD/range/1/day/2022-01-01/2023-06-30?apiKey=maEQwPe36ret4bYTHkL8D4Tri4oAFLm4'
ethereum_price_url = 'https://api.polygon.io/v2/aggs/ticker/X:ETHUSD/range/1/day/2022-01-01/2023-06-30?apiKey=maEQwPe36ret4bYTHkL8D4Tri4oAFLm4'

In [15]:
bitcoin_response = requests.get(bitcoin_price_url)
ethereum_response = requests.get(ethereum_price_url)

In [16]:
print(bitcoin_response)
print(ethereum_response)

<Response [200]>
<Response [200]>

In [17]:
bitcoin_response_content = bitcoin_response.content
ethereum_response_content = ethereum_response.content

In [18]:
bitcoin_data = bitcoin_response.json()
ethereum_data = ethereum_response.json()

In [19]:
bitcoin_df = pd.json_normalize(bitcoin_data['results'])
ethereum_df = pd.json_normalize(ethereum_data['results'])

In [20]:
Date_Time_btc = pd.to_datetime(bitcoin_df.t, unit='ms').dropna()
Date_Time_eth = pd.to_datetime(ethereum_df.t, unit='ms').dropna()

In [21]:
bitcoin_df = bitcoin_df.drop(columns=['t'])
ethereum_df = ethereum_df.drop(columns=['t'])

In [22]:
bitcoin_df_dt = pd.concat([bitcoin_df, Date_Time_btc], axis=1, join='inner')
ethereum_df_dt = pd.concat([ethereum_df, Date_Time_eth], axis=1, join='inner')

In [25]:
bitcoin_df_dt = bitcoin_df_dt.rename(columns={
    'v': 'Volume',
    'vw': 'Volume Weight',
    'o': 'Open',
    'c': 'Close',
    'h': 'High',
    'l': 'Low',
    'n': 'Transactions',
    't': 'Date'
})
bitcoin_df_dt

,Volume,Volume Weight,Open,Close,High,Low,Transactions,Date
0,14516.208110,47107.5183,46211.24,47733.43,47967.120000,46150.00,465519,2022-01-01
1,10724.093860,47243.3904,47746.00,47299.07,48012.000000,46633.36,431851,2022-01-02
2,16693.028505,46630.0499,47297.66,46459.56,47586.580000,45689.00,450817,2022-01-03
3,24161.282655,46464.5600,46459.57,45814.61,47671.862805,45515.00,556220,2022-01-04
4,39467.849850,45006.0060,45817.13,43436.04,47076.550000,42413.59,798720,2022-01-05
...,...,...,...,...,...,...,...,...
541,16345.892786,30276.9845,30480.24,30264.20,30685.000000,29900.00,358429,2023-06-26
542,16409.937259,30623.5859,30272.24,30697.38,31020.540000,30223.60,346245,2023-06-27
543,13861.890733,30246.1483,30696.06,30074.94,30731.000000,29834.20,364904,2023-06-28
544,16071.586504,30503.4538,30070.46,30450.60,30849.000000,30036.18,348932,2023-06-29
545,35670.901110,30422.1243,30445.67,30466.72,31300.000000,29375.60,599232,2023-06-30

In [27]:
ethereum_df_dt = ethereum_df_dt.rename(columns={
    'v': 'Volume',
    'vw': 'Volume Weight',
    'o': 'Open',
    'c': 'Close',
    'h': 'High',
    'l': 'Low',
    'n': 'Transactions',
    't': 'Date'
})
ethereum_df_dt

,Volume,Volume Weight,Open,Close,High,Low,Transactions,Date
0,131035.997917,3729.9977,3675.81,3765.99,3777.90,3674.02,370358,2022-01-01
1,119595.902379,3785.5863,3765.98,3828.87,3858.28,3717.60,345469,2022-01-02
2,157432.458752,3776.4038,3828.93,3766.04,3853.67,3681.12,404360,2022-01-03
3,209685.533340,3817.5913,3766.01,3785.00,3894.12,3714.22,466658,2022-01-04
4,347615.938077,3656.5190,3785.60,3538.91,3848.20,3410.22,664677,2022-01-05
...,...,...,...,...,...,...,...,...
541,113936.986083,1872.3828,1899.80,1859.19,1909.80,1836.25,208368,2023-06-26
542,119215.402591,1884.9165,1859.19,1889.79,1913.80,1855.41,194631,2023-06-27
543,126270.992046,1850.9402,1889.77,1827.37,1891.90,1816.00,218834,2023-06-28
544,85790.898094,1853.2500,1826.49,1852.11,1880.40,1826.43,176324,2023-06-29
545,259905.076880,1891.6692,1851.98,1933.57,1949.00,1823.20,328818,2023-06-30

In [28]:
bitcoin_df_dt = bitcoin_df_dt.set_index(['Date'])
bitcoin_df_dt

,Volume,Volume Weight,Open,Close,High,Low,Transactions
Date,,,,,,,
2022-01-01,14516.208110,47107.5183,46211.24,47733.43,47967.120000,46150.00,465519
2022-01-02,10724.093860,47243.3904,47746.00,47299.07,48012.000000,46633.36,431851
2022-01-03,16693.028505,46630.0499,47297.66,46459.56,47586.580000,45689.00,450817
2022-01-04,24161.282655,46464.5600,46459.57,45814.61,47671.862805,45515.00,556220
2022-01-05,39467.849850,45006.0060,45817.13,43436.04,47076.550000,42413.59,798720
...,...,...,...,...,...,...,...
2023-06-26,16345.892786,30276.9845,30480.24,30264.20,30685.000000,29900.00,358429
2023-06-27,16409.937259,30623.5859,30272.24,30697.38,31020.540000,30223.60,346245
2023-06-28,13861.890733,30246.1483,30696.06,30074.94,30731.000000,29834.20,364904
2023-06-29,16071.586504,30503.4538,30070.46,30450.60,30849.000000,30036.18,348932
2023-06-30,35670.901110,30422.1243,30445.67,30466.72,31300.000000,29375.60,599232

In [29]:
ethereum_df_dt = ethereum_df_dt.set_index(['Date'])
ethereum_df_dt

,Volume,Volume Weight,Open,Close,High,Low,Transactions
Date,,,,,,,
2022-01-01,131035.997917,3729.9977,3675.81,3765.99,3777.90,3674.02,370358
2022-01-02,119595.902379,3785.5863,3765.98,3828.87,3858.28,3717.60,345469
2022-01-03,157432.458752,3776.4038,3828.93,3766.04,3853.67,3681.12,404360
2022-01-04,209685.533340,3817.5913,3766.01,3785.00,3894.12,3714.22,466658
2022-01-05,347615.938077,3656.5190,3785.60,3538.91,3848.20,3410.22,664677
...,...,...,...,...,...,...,...
2023-06-26,113936.986083,1872.3828,1899.80,1859.19,1909.80,1836.25,208368
2023-06-27,119215.402591,1884.9165,1859.19,1889.79,1913.80,1855.41,194631
2023-06-28,126270.992046,1850.9402,1889.77,1827.37,1891.90,1816.00,218834
2023-06-29,85790.898094,1853.2500,1826.49,1852.11,1880.40,1826.43,176324
2023-06-30,259905.076880,1891.6692,1851.98,1933.57,1949.00,1823.20,328818