In [1]:
import requests
import pandas as pd
import json
import datetime

In [2]:
bitcoin_price_url = 'https://api.polygon.io/v2/aggs/ticker/X:BTCUSD/range/1/day/2022-01-01/2023-06-30?apiKey=maEQwPe36ret4bYTHkL8D4Tri4oAFLm4'

In [3]:
bitcoin_response = requests.get(bitcoin_price_url)

In [4]:
print(bitcoin_response)

<Response [200]>

In [5]:
bitcoin_response_content = bitcoin_response.content

In [6]:
bitcoin_data = bitcoin_response.json()

In [7]:
bitcoin_df = pd.json_normalize(bitcoin_data['results'])
bitcoin_df

,v,vw,o,c,h,l,t,n
0,14516.208110,47107.5183,46211.24,47733.43,47967.120000,46150.00,1640995200000,465519
1,10724.093860,47243.3904,47746.00,47299.07,48012.000000,46633.36,1641081600000,431851
2,16693.028505,46630.0499,47297.66,46459.56,47586.580000,45689.00,1641168000000,450817
3,24161.282655,46464.5600,46459.57,45814.61,47671.862805,45515.00,1641254400000,556220
4,39467.849850,45006.0060,45817.13,43436.04,47076.550000,42413.59,1641340800000,798720
...,...,...,...,...,...,...,...,...
541,16345.892786,30276.9845,30480.24,30264.20,30685.000000,29900.00,1687737600000,358429
542,16409.937259,30623.5859,30272.24,30697.38,31020.540000,30223.60,1687824000000,346245
543,13861.890733,30246.1483,30696.06,30074.94,30731.000000,29834.20,1687910400000,364904
544,16071.586504,30503.4538,30070.46,30450.60,30849.000000,30036.18,1687996800000,348932
545,35670.901110,30422.1243,30445.67,30466.72,31300.000000,29375.60,1688083200000,599232

In [8]:
Date_Time = pd.to_datetime(bitcoin_df.t, unit='ms').dropna()
Date_Time

0     2022-01-01
1     2022-01-02
2     2022-01-03
3     2022-01-04
4     2022-01-05
         ...
541   2023-06-26
542   2023-06-27
543   2023-06-28
544   2023-06-29
545   2023-06-30
Name: t, Length: 546, dtype: datetime64[ns]

In [9]:
bitcoin_df_dt = pd.concat([bitcoin_df, Date_Time], axis=1, join='inner')
#bitcoin_df_dt = bitcoin_df_dt['c', 't']
bitcoin_df_dt

,v,vw,o,c,h,l,t,n,t
0,14516.208110,47107.5183,46211.24,47733.43,47967.120000,46150.00,1640995200000,465519,2022-01-01
1,10724.093860,47243.3904,47746.00,47299.07,48012.000000,46633.36,1641081600000,431851,2022-01-02
2,16693.028505,46630.0499,47297.66,46459.56,47586.580000,45689.00,1641168000000,450817,2022-01-03
3,24161.282655,46464.5600,46459.57,45814.61,47671.862805,45515.00,1641254400000,556220,2022-01-04
4,39467.849850,45006.0060,45817.13,43436.04,47076.550000,42413.59,1641340800000,798720,2022-01-05
...,...,...,...,...,...,...,...,...,...
541,16345.892786,30276.9845,30480.24,30264.20,30685.000000,29900.00,1687737600000,358429,2023-06-26
542,16409.937259,30623.5859,30272.24,30697.38,31020.540000,30223.60,1687824000000,346245,2023-06-27
543,13861.890733,30246.1483,30696.06,30074.94,30731.000000,29834.20,1687910400000,364904,2023-06-28
544,16071.586504,30503.4538,30070.46,30450.60,30849.000000,30036.18,1687996800000,348932,2023-06-29
545,35670.901110,30422.1243,30445.67,30466.72,31300.000000,29375.60,1688083200000,599232,2023-06-30

In [11]:
bitcoin_df_dt = bitcoin_df_dt.rename(columns={
    'v': 'Volume',
    'vw': 'Volume Weight',
    'o': 'Open',
    'c': 'Close',
    'h': 'High',
    'l': 'Low',
    't': 't',
    'n': 'Transactions',
    't': 'Date'
})
bitcoin_df_dt

,Volume,Volume Weight,Open,Close,High,Low,Date,Transactions,Date
0,14516.208110,47107.5183,46211.24,47733.43,47967.120000,46150.00,1640995200000,465519,2022-01-01
1,10724.093860,47243.3904,47746.00,47299.07,48012.000000,46633.36,1641081600000,431851,2022-01-02
2,16693.028505,46630.0499,47297.66,46459.56,47586.580000,45689.00,1641168000000,450817,2022-01-03
3,24161.282655,46464.5600,46459.57,45814.61,47671.862805,45515.00,1641254400000,556220,2022-01-04
4,39467.849850,45006.0060,45817.13,43436.04,47076.550000,42413.59,1641340800000,798720,2022-01-05
...,...,...,...,...,...,...,...,...,...
541,16345.892786,30276.9845,30480.24,30264.20,30685.000000,29900.00,1687737600000,358429,2023-06-26
542,16409.937259,30623.5859,30272.24,30697.38,31020.540000,30223.60,1687824000000,346245,2023-06-27
543,13861.890733,30246.1483,30696.06,30074.94,30731.000000,29834.20,1687910400000,364904,2023-06-28
544,16071.586504,30503.4538,30070.46,30450.60,30849.000000,30036.18,1687996800000,348932,2023-06-29
545,35670.901110,30422.1243,30445.67,30466.72,31300.000000,29375.60,1688083200000,599232,2023-06-30