In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")

In [2]:
btc_data = pd.read_csv(
    Path('../RJM-Algo-Trading/Resources/btc_price_data.csv')
)
btc_data.head()

,Date,Volume,Volume Weight,Open,Close,High,Low,Transactions
0,2022-01-01,14516.208110,47107.5183,46211.24,47733.43,47967.120000,46150.00,465519
1,2022-01-02,10724.093860,47243.3904,47746.00,47299.07,48012.000000,46633.36,431851
2,2022-01-03,16693.028505,46630.0499,47297.66,46459.56,47586.580000,45689.00,450817
3,2022-01-04,24161.282655,46464.5600,46459.57,45814.61,47671.862805,45515.00,556220
4,2022-01-05,39467.849850,45006.0060,45817.13,43436.04,47076.550000,42413.59,798720

In [3]:
eth_data = pd.read_csv(
    Path('../RJM-Algo-Trading/Resources/eth_price_data.csv')
)
eth_data.head()

,Date,Volume,Volume Weight,Open,Close,High,Low,Transactions
0,2022-01-01,131035.997917,3729.9977,3675.81,3765.99,3777.90,3674.02,370358
1,2022-01-02,119595.902379,3785.5863,3765.98,3828.87,3858.28,3717.60,345469
2,2022-01-03,157432.458752,3776.4038,3828.93,3766.04,3853.67,3681.12,404360
3,2022-01-04,209685.533340,3817.5913,3766.01,3785.00,3894.12,3714.22,466658
4,2022-01-05,347615.938077,3656.5190,3785.60,3538.91,3848.20,3410.22,664677

In [4]:
btc_data['daily_returns'] = btc_data['Close'].pct_change()
eth_data['daily_returns'] = eth_data['Close'].pct_change()

In [5]:
btc_data['daily_returns_lagged'] = btc_data['daily_returns'].shift(1)
eth_data['daily_returns_lagged'] = eth_data['daily_returns'].shift(1)

In [6]:
btc_data['trade_type'] =np.where(btc_data['daily_returns_lagged']<0,1,-1)
eth_data['trade_type'] =np.where(eth_data['daily_returns_lagged']<0,1,-1)

In [7]:
btc_data.head()

,Date,Volume,Volume Weight,Open,Close,High,Low,Transactions,daily_returns,daily_returns_lagged,trade_type
0,2022-01-01,14516.208110,47107.5183,46211.24,47733.43,47967.120000,46150.00,465519,NaN,NaN,-1
1,2022-01-02,10724.093860,47243.3904,47746.00,47299.07,48012.000000,46633.36,431851,-0.009100,NaN,-1
2,2022-01-03,16693.028505,46630.0499,47297.66,46459.56,47586.580000,45689.00,450817,-0.017749,-0.009100,1
3,2022-01-04,24161.282655,46464.5600,46459.57,45814.61,47671.862805,45515.00,556220,-0.013882,-0.017749,1
4,2022-01-05,39467.849850,45006.0060,45817.13,43436.04,47076.550000,42413.59,798720,-0.051917,-0.013882,1

In [8]:
eth_data.head()

,Date,Volume,Volume Weight,Open,Close,High,Low,Transactions,daily_returns,daily_returns_lagged,trade_type
0,2022-01-01,131035.997917,3729.9977,3675.81,3765.99,3777.90,3674.02,370358,NaN,NaN,-1
1,2022-01-02,119595.902379,3785.5863,3765.98,3828.87,3858.28,3717.60,345469,0.016697,NaN,-1
2,2022-01-03,157432.458752,3776.4038,3828.93,3766.04,3853.67,3681.12,404360,-0.016410,0.016697,-1
3,2022-01-04,209685.533340,3817.5913,3766.01,3785.00,3894.12,3714.22,466658,0.005034,-0.016410,1
4,2022-01-05,347615.938077,3656.5190,3785.60,3538.91,3848.20,3410.22,664677,-0.065017,0.005034,-1

In [9]:
btc_y = btc_data['trade_type']
btc_X = btc_data.drop(columns='trade_type')

In [10]:
eth_y = eth_data['trade_type']
eth_X = eth_data.drop(columns='trade_type')

In [12]:
from sklearn.model_selection import train_test_split

btc_X_train, btc_X_test, btc_y_train, btc_y_test = train_test_split(btc_X, 
                                                    btc_y, 
                                                    random_state=1, 
                                                    stratify=btc_y)
btc_X_train.shape

(409, 10)

In [14]:
from sklearn.svm import SVC
btc_classifier = SVC(kernel='linear')

In [15]:
btc_classifier.fit(X_train, y_train)

NameError: name 'kernel' is not defined